{%extends './base.html'%}


{%block linkCSS%}
<link rel="stylesheet" href="../static/css/adm inventario.css">

{%endblock%}


{%block titulo%} Gestor de Inventario{%endblock%}



{%block body%}


<header class="head">
    <div class="div1">administrador de Inventario <br>
        <span>SuperMarket</span>
    </div>
    <div class="div2"><a href="/administracion">Volver Atras</a></div>
</header>
<div class="productGrid">
    <div class="addProduct">
        <h2 style="text-align: left; font-weight: 400;">Informacion de nuevo producto</h2>
        <form action="/administrar inventario" method="POST">
            <label for="number">Código:</label>
            <input type="number" class="block" required name="codigo" id="">
            <label for="nombre">Nombre de Producto:</label>
            <input class="block" type="text" required name="nombreproducto" id="">
            <label for="precio">Precio:</label>
            <input class="block" type="number" required name="precio" id="">

            <div class="categoria">
                <label class="block" for="categoria">Categoria:</label>

                <input required type="radio" value="1" name="categoria"> <label for="categoria">Frutas y
                    Verduras</label>

                <input required type="radio" value="2" name="categoria" id=""><label for="categoria">Carnes y
                    Pescados</label>

                <input required type="radio" value="3" name="categoria"><label for="categoria">Panaderia y
                    Pasteleria</label>

                <input required type="radio" value="4" name="categoria"><label for="categoria">Abarrotes</label>

            </div>

            <label style="display: block;margin-top: 20px;" for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="" cols="30" placeholder="Descripcion del Producto..."
                rows="5"></textarea><br>
            <label for="url_img">URL de Imagen</label>
            <input class="block" required type="url" name="url_img" id="">
            <button type="submit"><i class="fa-solid fa-plus"></i> Agregar Producto</button>
        </form>
        {%with messages=get_flashed_messages()%}
        {%if messages%}
        {%for message in messages%}
        <div class="alerta" role="alert">
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
    </div>
    <div class="crudProduct">
        <h1>Registro de Productos <a href=""><i class="fa-solid fa-arrow-rotate-left"></i></a>
        </h1>
        <table class="dcf-table dcf-table-responsive dcf-table-striped dcf-w-100%">
            <tbody>
                <tr>
                    <td class="dcf-txt-center">IMG</td>
                    <td class="dcf-txt-center">CODIGO</td>
                    <td class="dcf-txt-center">NOMBRE</td>
                    <td class="dcf-txt-center">CATEGORIA</td>
                    <td class="dcf-txt-center">PRECIO</td>
                    <td class="dcf-txt-center">ACCIONES</td>
                </tr>
                {% for i in data.productos %}
                <tr>
                    <td class="dcf-txt-center">
                        <img src="{{i[0]}}" height="40px" alt="">
                    </td>
                    <td class="dcf-txt-center">{{i[1]}}</td>
                    <td class="dcf-txt-center">{{i[2]}}</td>
                    <td class="dcf-txt-center">{{i[3]}}</td>
                    <td class="dcf-txt-center">${{i[5]}}</td>
                    <td class="dcf-txt-center">
                        <a style="margin: 10px;" href="administrar inventario/edit/{{i[1]}}" target="_blank"> <i class="fa-solid fa-pen-to-square"></i> Editar</a><br>
                        <a style="margin: 10px;" href="administrar inventario/delete/{{i[1]}}"><i class="fa-solid fa-trash-can"></i>Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>
</div>
<script src="../static/js/admInventario.js"></script>
{%endblock%}