<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/adm inventario.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="head">
        Gestionador de Inventario. <span>SuperMarket.</span>
    </header>
    <div class="addProduct">
        <form action="/crud_inventario" method="POST">
            <label for="number">Código:</label>
            <input type="number" name="codigo" id="">
            <label for="nombre">Nombre de Producto:</label>
            <input type="text" name="nombreproducto" id="">
            <label for="precio">Precio:</label>
            <input type="text" name="precio" id="">
            <div class="categoria">
                <label class="block" for="categoria">Categoria:</label>
                <input type="radio" value="1" name="categoria"> <label for="categoria">Frutas y Verduras</label>

                <input type="radio" value="2" name="categoria" id=""><label for="categoria">Carnes y Pescados</label>

                <input type="radio" value="3" name="categoria"><label for="categoria">Panaderia y Pasteleria</label>

            </div>
            <label style="display: block;margin-top: 20px;" for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="" cols="30" placeholder="Descripcion del Producto..."
                rows="5"></textarea><br>
            <label for="url_img">URL de Imagen</label>
            <input type="url" name="url_img" id="">
            <input style="display: block; margin: 20px auto;" type="submit" value="Agregar Registro">
        </form>
    </div>
    <div class="crudProduct">
        <h1>Registro de Productos</h1>
        <table>
            <thead>
                <tr>
                    <th>
                        img
                    </th>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Nombre Producto
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th colspan="2">
                        acciones
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for i in data.productos %}
                <tr>
                    <td><img src="{{i[4]}}" width="50px" alt=""></td>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>${{i[3]}}</td>
                    <td>
                        <input type="checkbox" id="btn-modal">
                        <label for="btn-modal" class="lbl-modal">Editar </label>
                        <div class="modal">
                            <div class="contenedor">

                                <header>Editor de producto {{i[0]}}.</header>
                                <label class="label" for="btn-modal">x</label>

                                <div class="contenido">

                                    <h3>
                                        Ingrese los nuevos valores de: {{i[1]}}
                                    </h3>

                                    <form class="formEdit" action="/crud_inventario/edit/{{i[0]}}" method="POST">
                                        <label for="">nuevo codigo:</label>
                                        <input type="number" value=" {{ i[0] }} " name="new_codigo" id="">
                                        <label for="">nuevo nombre:</label>
                                        <input type="text" value="{{i[1]}}" name="new_nombre" id="">
                                        <label for="">nueva descripcion:</label>
                                        <input type="text" value="{{i[2]}}" name="new_descripcion" id="">
                                        <label for="">nuevo precio:</label>
                                        <input type="text" value="{{i[3]}}" name="new_precio" id="">
                                        <label for="">nueva URL de Imgen:</label>
                                        <textarea name="new_url" id="" cols="30" rows="10">{{i[4]}}</textarea>

                                        <input type="submit" id="btn" value="Editar">


                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="crud_inventario/delete/{{i[0]}}">Eliminar</a></td>
                </tr>
                {%endfor%}




            </tbody>
        </table>
    </div>

</body>

</html>