{%extends './base.html'%}


{%block linkCSS%}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/adminstrador.css') }}">
{%endblock%}


{%block titulo%}Administrador - pdv{%endblock%}

{%block body%}

<nav class="navbar">
    <div class="user">
        <div class="nombreUsuario">{{data.nombre}}</div>
        <div class="rol">ADMINISTRADOR</div>
        <div class="rut">{{data.rut}}</div>


    </div>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
        <div class="list">
            <ul>
                <li><a href="{{url_for('crud_inventario')}}">Gestionar Inventario</a></li>
                <li><a href="{{url_for('loggout')}}">Cerrar Sesión</a></li>

            </ul>
        </div>
    </div>
</nav>

<section class="body-administrador">
    <div class="bienvenida">
        Bienvenid@ <br>
        {{data.nombre}}
    </div>
    <div class="line"></div>
    <div class="widget">
        <div class="ventas">
            <h1>-</h1>
            <br>
            <p>ventas registradas</p>
            <p>Hoy {{data.fechaFormateada}}</p>
        </div>
        <div class="switch-jornada">
            <p>la jornada se encuentra </p>
            <h1>{{data.estadoJornada}}</h1>
            <form name="jornada" action="/gestor de jornada/switch" method="GET">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
        <div class="recaudacion">
            <h1>$-</h1>
            <p>recaudacion de hoy <br>{{data.fechaFormateada}}</p> 
            
        </div>
        <div class="productos-en-inventario">
            <p>productos registrados</p>
            <h1>{{data.totalProductos}}</h1>
            <a href="{{url_for('crud_inventario')}}">Administrar</a>
        </div>
        <div class="productos-en-inventario">
            <p>colaboradores</p>
            <h1>{{data.totalColaboradores}}</h1>
            <a href="{{url_for('crud_user')}}">Administrar</a>
        </div>
    </div>
    <div class="opcionesAdm">
        <a href="{{url_for('crud_user')}}" target="_blank">
            <div>Administrar Trabajadores</div>
        </a>
        <a href="{{url_for('crud_inventario')}}">
            <div>Gestionar Inventario</div>
        </a>
        <a href="">
            <div>Obtener informe de venta</div>
        </a>
        <a href="">
            <div>informe de Trabajadores</div>
        </a>
        
    </div>
</section>

{%endblock%}