{%extends './base.html'%}

{%block titulo%}
Datos de Factura
{%endblock%}

{%block linkCSS%}
<link rel="stylesheet" href="{{url_for('static',filename='css/datosFactura.css')}}">

{%endblock%}


{%block body%}
<div class="gridFacturacion">
    <div class="formularioFactura">
        <form action="/puntodeventa/venta/Factura/pagar/{{data.id}}" method="post">
            <h2 style="font-weight: 300;">Datos de Factura</h2>

            <label for="">Razon social:</label>
            <input required type="text" name="razon" id="">
            <label for="">RUT Cliente:</label>
            <input required type="text" name="rut" id="">
            <label for="">Giro</label>
            <input type="text" name="giroFactura" required id="">
            <label for="">Direccion</label>
            <input type="text" name="direccion" id="">

            <button type="submit">Enviar datos</button>
        </form>
        <button onclick="window.close()">Cancelar</button>
    </div>
    <div class="tablaResumen">
        <table>
            <caption>Resumen de Venta</caption>
            <thead>
                <tr>
                    <th class="dcf-txt-center" scope="col">codigo</th>
                    <th class="dcf-txt-center" scope="col">Producto</th>
                    <th class="dcf-txt-center" scope="col">precio unidad</th>
                    <th class="dcf-txt-center" scope="col">cantidad</th>
                    <th class="dcf-txt-center" scope="col">total</th>
                </tr>
            </thead>
            <tbody>
                {%for c in data.listado%}
                <tr>
                    <th class="dcf-txt-center" scope="row">{{c[0]}}</th>
                    <td class="dcf-txt-center" data-label="nombre">{{c[1]}}</td>
                    <td class="dcf-txt-center" data-label="precio">${{c[2]}}</td>
                    <td class="dcf-txt-center" data-label="cantidad">

                        <strong style="font-weight: 550;font-size: 14px;">{{c[3]}}</strong>


                    </td>
                    <td class="dcf-txt-center" data-label="total">${{c[4]}}</td>

                </tr>
                {%endfor%}

                <tr>
                    <td class="dcf-txt-center" colspan="2">Neto: ${{data.neto}}</td>
                    <td class="dcf-txt-center" colspan="2">IVA: ${{data.iva}}</td>
                    <td class="dcf-txt-center" colspan="2">TOTAL: ${{data.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}