{%extends './base.html'%}


{%block linkCSS%}
<link rel="stylesheet" href="../static/css/informesdeventas.css">

{%endblock%}


{%block titulo%} Jornadas{%endblock%}



{%block body%}

<body>

    <header class="head">
        <div class="div1">Jornadas de Trabajo <br>
            <span>SuperMarket</span>
        </div>
        <div class="div2"><a href="/administracion">Volver Atras</a></div>
    </header>

    <div class="gridJornadas">
        <div class="busqTrabajador">
            <form action="/informesdeventasportrabajador" method="POST">
                <h3>Buscar informe por Trabajador</h3>
                <input type="text" placeholder="RUT de trabajador" name="rutenjornada" id="">
                <button type="submit">Buscar</button>
            </form>
            <form action="/informesdeventas/fecha" method="POST">
                <h3>Buscar informe por dia</h3>
                <input type="date" name="fecha" id="">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div class="listadoJornadas">
            <h3 style="font-weight: 400;">Listado de Jorndas</h3>
            {%for i in data.listadoJornadas%}
            <li>Dia: {{i[0]}} |
                <a target="_blank" href="/informeventa/{{i[0]}}">
                    Ver detalles de jornada
                </a>
            </li>
            {%endfor%}
        </div>
    </div>
</body>

{%endblock%}