<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/informesdeventas.css">
    <title>Informes de Venta</title>
</head>
<body>
    <form action="/informesdeventasportrabajador" method="POST">
        <h3>Buscar informe por Trabajador</h3>
        <input type="text" name="rutenjornada" id="">
        <button type="submit">Buscar</button>
    </form>
    {%for i in data.listadoJornadas%}
        <li>Jornada del dia: {{i[0]}}. <a href="/informeventa/{{i[0]}}">Ver detalles</a></li> 
    {%endfor%}
</body>
</html>