{%extends './base.html'%}


{%block linkCSS%}
<link rel="stylesheet" href="../static/css/informeDiario.css">

{%endblock%}


{%block titulo%} Registro de ventas{%endblock%}



{%block body%}

<body>
    <header class="head">
        <div class="div1">Registros de Ventas<br>
            <span>SuperMarket</span>
        </div>
        <div class="div2"><a href="/administracion">Volver Atras</a></div>
    </header>
    <div class="gridRegistros">

        <div class="busq">
            <div class="registros">
                <div class="busqueda">
                    <h3>Busqueda por Codigo de documeto</h3>
                    <form action="/informeventa/documentoN/" method="POST">
                        <input type="search" required placeholder="Ingrese codigo de Documento." name="codigoDocumento" id="">
                        <button type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="busqueda">
                    <h3>Busqueda por Dia</h3>
                    <form action="/registrodeventas" method="POST">
                        <input type="date" required name="diaBusqueda">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                {%with messages=get_flashed_messages()%}
                {%if messages%}
                {%for message in messages%}
                <div class="alerta" role="alert">
                    {{message}}
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>
        </div>
        <div class="container">


            <div class="boleta">
                <h1>Boletas</h1>
                <caption>Ventas realizadas con Boleta</caption>
                <table>
                    <thead>
                        <tr>
                            <th>codigo</th>
                            <th>IVA</th>
                            <th>Neto</th>
                            <th>vendedor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data.ventasBoleta %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>${{i[1]}}</td>
                            <td>${{i[2]}}</td>
                            <td>RUT. {{i[4]}}</td>
                            <td><a style="text-decoration:underline;" href="/informeventa/documentoN/{{i[0]}}">mas
                                    detalles</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>

            <div class="factura">
                <h1>Facturas</h1>
                <caption>Ventas realizadas con Factura</caption>
                <table>
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>IVA</th>
                            <th>Neto</th>
                            <th>vendedor</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data.ventasFactura %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>${{i[1]}}</td>
                            <td>${{i[2]}}</td>
                            <td>RUT. {{i[4]}}</td>
                            <td><a style="text-decoration:underline;" href="/informeventa/documentoN/{{i[0]}}"> mas
                                    detalles</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    </div>
</body>
{%endblock%}