{%extends './base.html'%}


{%block linkCSS%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
{%endblock%}

{%block titulo%}
Login - Supermarket
{%endblock%}

{%block body%}


<div class="logcontenedor">
  <div class="presentacionLog">
    <div class="empresa">
      <i class="fa-brands fa-opencart"></i> Los monitos de la Nona.
    </div>
    <div class="bnvLog">
      <div class="sisLog"> Sistema de punto de ventas</div>

      <div class="tituloLog">Bienvenido!
        <div class="line10"></div>
      </div>

      <div class="infoLog">

        Usted esta ingresando a la plataforma de trabajo de 'Los Monitos de la Nona'. <br>
        Si usted es parte de esta empresa, ingrese sus datos de inicio de sesion proporcionado por
        su respectivo jefe en el siguiente formulario.
      </div>
      <div class="arrow">
        <center><i class="fa-solid fa-arrow-down"></i></center>
      </div>

    </div>
  </div>

  <div class="formularioLogin">
    <h2>Inicio de Sesion</h2>
    <form action="/login" method="POST">

      <input type="text" name="rut" placeholder="Rut: 12345678-9" id="">
      <input type="password" name="password" placeholder="Contraseña" id="">
      {%with messages=get_flashed_messages()%}
      {%if messages%}
      {%for message in messages%}
      <div class="alerta" role="alert">
        {{message}}
      </div>
      {%endfor%}
      {%endif%}
      {%endwith%}
      <button style="cursor: pointer; " type="submit"><i class="fa-solid fa-right-to-bracket"></i> Entrar</button>

    </form>
    <center><a href="/"><button style="cursor: pointer;">Volver atras</button></a></center>
  </div>
</div>


{%endblock%}