{%extends './base.html'%}


{%block linkCSS%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">

{%endblock%}

{%block titulo%}
Login - Supermarket
{%endblock%}

{%block body%}
<body class="body-login">
  

<div class="contain">
  <div class="logincontain">
    <h1>Inicio de Sesion</h1>
    <form action="/login" method="POST">
      <input type="text" name="rut" placeholder="Rut: 12345678-9" id="">
      <input type="password" name="password" placeholder="Contraseña" id="">
      <input  style="background-color: rgb(57, 62, 70); color:rgb(255, 255, 255);cursor: pointer;" type="submit" value="Entrar">
    </form>
    <center><a href="/">Volver a Inicio</a></center>
    {%with messages=get_flashed_messages() %}
    {%if messages%}
    {%for message in messages%}
    <div class="alerta" role="alert">
      {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
  </div>
  <div class="info">
    <div class="tit">Sistema de Ventas.</div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint placeat
      sequi excepturi alias natus qui.
    </div>
    <div class="imagenes">
      <img src="{{url_for('static', filename='img/flask.png')}}" alt="">
      <img src="{{url_for('static', filename='img/python.png')}}" alt="">
      <img src="{{url_for('static', filename='img/html.png')}}" alt="">
    </div>
  </div>
</div>
</body>

{%endblock%}