<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/plantilla factura.css')}}">
    <title>FACTURA N` {{data.id_Factura}}</title>
</head>

<body>
    <div class="container">
        <div class="encabezado">
            <div class="info-empresa">
                <div class="info">
                    <h4>MINIMARKET <br>
                        LOS MONITOS DE LA NONA.
                    </h4>
                    <h5>Juan Fernández 2010, Archipiélago, Curicó, Romeral, Maule
                    </h5>
                </div>
                <div class="logo">
                    <img src="../static/img/carro.png" width="100px" alt="">
                </div>
            </div>
            <div class="idFactura">
                <div class="card">
                    RUT. 99.999.999-1 <br>
                    FACTURA ELECTRONICA <br>
                    N` {{data.id_Factura}}
                </div>
            </div>
        </div>

        <div class="info-factura">
            <div class="box1">
                <p>FECHA: {{data.fecha}}</p>
                <p>RAZON SOCIAL: {{data.razonsocial}}</p>
                <p>RUT: {{data.rutCliente}}</p>
                <p>GIRO: {{data.giro}}</p>
                <p>DIRECCION: {{data.direccion}}</p>

            </div>
            <div class="box2">
                <p>TELEFONO: {}</p>
                <p>VENDEDOR: {}</p>
            </div>
        </div>
        <hr>
        <div class="detalle-venta">
            <table>
                <thead>
                    <tr>
                        <th>CANTIDAD</th>
                        <th>DETALLE</th>
                        <th>P. UNITARIO</th>
                        <th>TOTAL </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data.venta %}
                    <tr>
                        <td>{{i[3]}}</td>
                        <td>{{i[1]}} - codigo {{i[0]}}</td>
                        <td>${{i[2]}}</td>
                        <td>${{i[4]}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" style="text-align:right;">NETO</th>
                        <th>${{data.neto}}</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="text-align:right;">IVA</th>
                        <th>${{data.iva}}</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="text-align:right;">TOTAL</th>
                        <th>${{data.total}}</th>

                    </tr>
                </tfoot>

            </table>
            <div class="pie">
                Venta generada por: {{data.nombreVendedor}}. <br> Fecha: {{data.fecha}}

            </div>

        </div>
    </div>

</body>

</html>