{%extends './base.html'%}

{%block titulo%}
Punto de venta
{%endblock%}

{%block linkCSS%}
<link rel="stylesheet" href="../static/css/vendedor.css">

{%endblock%}

{%block body%}


<nav class="navbar">
    <div class="user">
        <div class="nombreUsuario">{{data.nombre}}</div>
        <div class="rol">VENDEDOR</div>
        <div class="rut">{{data.rut}}</div>


    </div>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
        <div class="list">

            <ul>
                <li><a href="">Catalogo de Productos</a></li>
                <li><a href="{{url_for('loggout')}}">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <button id="myBtn">Nueva Venta</button>
    <button id="">Consultar Precio</button>

</div>




<!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Que tipo de venta desea realizar?</p>
        <div class="flex">
            <a href="">Factura</a>
            <a href="">Boleta</a>
        </div>

    </div>

</div>

<script src="static/js/vendedor.js"></script>
{%endblock%}