{%extends './base.html'%}

{%block titulo%}
Punto de venta
{%endblock%}

{%block linkCSS%}
<link rel="stylesheet" href="../static/css/vendedor.css">

{%endblock%}

{%block body%}


<nav class="navbar">
    <div class="user">
        <div class="nombreUsuario">{{data.nombre}}</div>
        <div class="rol">VENDEDOR</div>
        <div class="rut">{{data.rut}}</div>


    </div>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
        <div class="list">

            <ul>
                <li><a href="/catalogo">Catalogo de Productos</a></li>
                <li><a href="{{url_for('loggout')}}">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>


{% if data.jornada == 'abierta' %}
<div class="estado">
    <h1>Estado de Jornada: <span style="color:green;">{{data.jornada}}.</span> </h1>
    <p>ventas habilitadas</p>
    <div class="line"></div>
</div>
<div class="container">
    <button id="myBtn" style="font-size: 2rem;">Nueva Venta</button>
    <a href="/catalogo">Consultar Precio</a>
</div>

{% else %}
<div class="estado">
    <h1>La Jornada esta: <span style="color:red;">{{data.jornada}}</span> </h1>
    <p>ventas deshabilitadas</p>
    <div class="line"></div>

</div>

<div class="container">
    <button id="" disabled style="background-color: gray;cursor:auto;font-size:3rem ;">Nueva Venta</button>

    <a href="/catalogo">Consultar Precio</a>
</div>

{% endif %}




<!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Que tipo de venta desea realizar?</p>
        <div class="flex">
            <a href="{{url_for('venta_boleta')}}" style="font-size: 1.5rem;">Boleta</a>
            <a href="{{url_for('venta_factura')}}" style="font-size: 1.5rem;">Factura</a> 
        </div>

    </div>

</div>

<script src="static/js/vendedor.js"></script>
{%endblock%}