{%extends './base.html'%}

{%block titulo%}
Venta con Boleta
{%endblock%}

{%block linkCSS%}
<link rel="stylesheet" href="{{url_for('static',filename='css/venta_con_boleta.css')}}">
{%endblock%}

{%block body%}

<body>
    <div class="container-venta-boleta">
        <div class="buscador">
            <form action="/puntodeventa/venta/boleta" method="POST">
                <input type="text" name="busqueda">
                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
            </form>
        </div>
        <div class="listado">
            <table class="puntodeventa">
                <thead>
                    <tr>
                        <th>cod</th>
                        <th>Nombre</th>
                        <th>precio</th>
                        <th>cantidad</th>
                        <th>total</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data.listado %}
                    <tr>
                        
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td><input min="1" type="number" value="1"></td>
                        <td>$ total</td>
                        <td><a href="/puntodeventa/borrararticulo/{{i}}"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                    {%endfor%}
                <tfoot>
                    <tr>
                        <td>neto:</td>
                        <td>$$</td>
                        <td>iva:</td>
                        <td>$$</td>
                        <td>total:</td>
                        <td>$$</td>
                    </tr>
                </tfoot>
                </tbody>
            </table>
            <div class="acciones" style="text-align: right;">
                <form action="/puntodeventa/clear">
                    <button type="submit">Cancelar Venta</button>
                </form>
                <form action="generarBoleta">
                    <button type="submit">Terminar Venta</button>
                </form>
            </div>

        </div>
    </div>

    <script type="text/javascript">
    </script>

</body>


{%endblock%}