.addProduct {
    text-align: center;

}

.productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    gap: 10px;
}

.productGrid > div{
    border-left: 2px solid #9599e296;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.192);


} 
.addProduct form input {
    padding: 7px;
    border: none;
    border-left: 2px solid #9599E2;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.345);

}

.block {
    display: block;
    margin: auto;
}

.addProduct form button {
    width: 150px;
    margin: 15px auto 15px;
    display: block;
    margin-top: 20px;
    color: white;
    background-color: #9599E2;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #9599E2;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.345);
    width: 80%;
}


.crudProduct {
    width: 80%;
    text-align: center;

}

.crudProduct table {
    margin: auto;
}
.crudProduct h1 {
font-weight: 300;}

.categoria>label {
    margin-right: 15px;
    margin-left: 5px;
}