.user .nombreUsuario {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 550;

}

.user .rol {
    font-size: 9px;
    font-weight: 100;
}

.user .rut {
    font-size: 12px;
    font-weight: 10;
}

.opciones ul li {
    display: inline;
    margin-left: 10px;
}

.opciones ul li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 14px;
}

.body-administrador {
    width: 80%;
    margin: 25px auto;
    text-align: center;

}

.bienvenida {
    text-transform: capitalize;
    font-size: 3rem;

}

.widget {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
}

.widget>div {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.ventas {
    background-color: rgb(0, 0, 87);
}

.ventas h1 {
    margin-top: 25px;
    font-size: 4rem;
    font-weight: 500;
    color: white;
}

.ventas p {
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
}

.switch-jornada {
    background-color: rgb(0, 0, 87);
    color: white;
}

.switch-jornada p {
    margin-top: 25px;
    text-transform: capitalize;
    font-size: 1rem;
}
.switch-jornada h1 {
    margin-top: 5px;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}
.switch-jornada form button{
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}
.recaudacion{
    color: white;
    text-transform: capitalize;
    background-color: rgb(0, 0, 87);
}
.recaudacion h1{
    margin-top: 25px;
    font-size: 2rem;
}
.recaudacion p{
    margin-top: 25px;
    font-size: 1rem;
}

.productos-en-inventario{
    background-color: rgb(0, 0, 87);
    color: white;
}

.productos-en-inventario p,
.productos-en-inventario a{
    margin-top: 25px;
    text-transform: capitalize;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.productos-en-inventario h1{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}
.opcionesAdm{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.opcionesAdm > a {
    margin: 5px auto;
    width: 250px;
    border-radius: 5px;
}
.opcionesAdm a {
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(0, 0, 87);
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
