.user .nombreUsuario {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 550;

}

.user .rol {
    font-size: 9px;
    font-weight: 100;
}

.user .rut {
    font-size: 12px;
    font-weight: 10;
}

.opciones ul li {
    display: inline;
    margin-left: 10px;
}

.opciones ul li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 14px;
}

.body-administrador {
    width: 80%;
    margin: 25px auto;
    text-align: center;

}

.body-administrador .titulo {
    position: absolute;
    right: 5%;
    bottom: 4%;
    text-align: right;
    font-size: 13px;
    font-weight: 550;
    color: rgba(57, 62, 70, 0.7);
}

.body-administrador .titulo span {
    text-align: right;
    font-size: 10px;
    font-weight: 200;
}

.body-administrador .bienvenida {
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;

}

.body-administrador .bienvenida p {
    margin-top: 10px;
    font-size: 14px;

}

.opcionesAdm {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: auto;

}

.opcionesAdm>a>div {
    background-color: rgb(57, 62, 70);
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    margin: 5px;
    transition: .3s;
    font-size: 15px;
}

.opcionesAdm>a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}