.container {
    width: 80%;
    margin: 50px auto;
}

.txt {
    text-align: center;
}

.titulo {
    text-transform: capitalize;
    font-size: 3em;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 14px;
    font-weight: 100;
    margin: 25px auto 25px;

}

.titulo2 {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;

}

.titulo2 span {
    font-size: 14px;
    color: gray;
}

.subtitulo2 {
    text-align: center;
    font-size: 15px;
    color: gray;
    margin-bottom: 15px;
}

.descripcion2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    color: rgb(83, 83, 83);
}

.buscar {
    text-align: center;
    width: 80%;
    margin: 10px auto 10px;
}

.buscar form .input {
    padding: 5px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px rgb(34, 40, 49);
}

.buscar form button {
    padding: 5px;
    border: none;
    background-color: rgb(34, 40, 49);
    color: white;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width:768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width:600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:420px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid>div {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.585);
    margin: 4px;
    padding: 15px;
}

.cardProducto .titulo {
    font-size: 18px;
}

.cardProducto .titulo span {
    font-size: 13px;
    color: rgba(128, 128, 128, 0.618);
}

.imagen {
    text-align: center;
}

.imagen img {
    max-width: 100%;
    max-height: 100%;
}

.descripcion {
    font-size: 10px;
    text-align: center;

}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;

}

.info .status {
    color: green;
    font-weight: 100;
}

.info .precio {
    color: black;
}