* {
    padding: 0;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.gridFacturacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 100px auto;
}

form input {
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-left: 3px solid #9599E2;
    display: block;

    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.341);
    width: 80%;

}


 button {
    width: 150px;
    margin-top: 20px;
    color: white;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}

@media screen and (max-width:720px) {
    .gridFacturacion {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 100px auto;
    }
}