
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    width: 90%;
    gap: 20px;


}

.grid>div {
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.428);
    border-radius:5px ;
    padding: 10px;
}
.registros h1{
    margin-bottom: 20px;
    font-weight: 400;
}
.registros h1 a {
    color: black;
    font-size: 19px;
}

.formulario h1 {
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 20px;
}


.formulario {
    text-align: center;
}

.block {
    display: block;
}

textarea {
    padding: 10px;
    border: none;
    border-left: 2px solid #9599E2;
}

form input {
    padding: 7px;
    text-align: center;
    margin: auto;
    border: none;
    border-left: 2px solid #9599E2;
}

 button {
    width: 150px;
    margin-top: 20px;
    color: white;
    background-color: #78a9ca;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}

.categoria input {
    margin-left: 10px;
}





tr th {
    padding: 7px;
    font-weight: 100;
    background-color: #4c5075;
    color: white;
}

tr td {
    padding: 7px;
    font-weight: 100;
    text-align: center;

}

tr td a {
    color: black;
    text-decoration: none;
    text-align: center;
}


tbody tr:nth-child(odd) {
    background-color: #afb3fc;
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}


table {
    color: black;
    font-weight: 100;
    text-transform: capitalize;
    margin: auto;
}


@media screen and (max-width:1280px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}