.nombreUsuario,
.rut,
.tipo-venta {
    font-size: 1em;
    text-transform: capitalize;

}

.cont-venta {
    width: 90%;
    margin: 20px auto;
}

.cont-venta form {
    text-align: center;
    margin: 40px auto 40px;
}
form input{
    padding: 7px;
    width: 50%;
}
form button{
    font-size: 18px;
    border: none;
}
.editcantidad-add{
    padding: 3px;
    background-color: rgba(0, 255, 0, 0.15);
    border-radius: 50%;
    margin-right: 10px;
}
.editcantidad-substrac{
    padding: 3px;
    background-color: rgba(255, 0, 0, 0.156);
    border-radius: 50%;
    margin-left: 10px;
}
.finalizarVenta{
    position: absolute;
    right: 10%;
    font-size:18px;
}
.finalizarVenta a {
    text-decoration: none;
    color: black;
}
.cancelar{
    background-color: red;
    padding: 10px;
    margin: 10px;
    color: white;
}
.Pagar {
    background-color: green;
    padding: 10px;
    margin: 10px;
    color: white;


}