.container-venta-boleta{
    width: 80%;
    margin: 50px auto;
    background-color: gray;
    padding: 20px;
}
.buscador{
    text-align: center;
}
.buscador form input{
    width: 250px;
    padding: 10px;
    border-radius:3px ;
    border: none;
}
.buscador form button{
    font-size: 24px;
    border-radius:3px ;
    border: none;
}
.listado{
    margin-top: 20px;
}

.puntodeventa{
    background-color: rgba(65, 65, 65, 0.524);
    color: black;
}
.puntodeventa thead tr th{
    background-color: red;
    width: 250px;
}
.puntodeventa tbody tr td{
    background-color: #ffff;
    color: black;
}
.acciones{
    margin-top: 20px;
}
.acciones form {
    display: inline;
}